<div class="col-7">
	<div class = "mb-3">
		<%= link_to "Events", leagues_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
	</div>

	<div id = "tournaments" >
		<%= render partial: "tournaments/tournament", collection: @all_tournaments, as: :tournament_presenter %>
	</div>

	<div class="d-flex justify-content-center ">
  		<%== pagy_bootstrap_nav(@pagy) %>
		</div>

</div>
<div class="col">
	asdsadsad
</div>
<style>
.page-item a.page-link {
    color: #28a745;
}
.page-item.active a.page-link {
    background-color: white;
    border-color: #6c757d;
}
.page-item a.page-link {
    font-size: 11px; 
}
</style>