<div class="col-7">

  

  <h1>All Blogs</h1>
  <div class="blog-list">
    <% @blogs.each do |blog| %>
      <%= blog.body%><br>
    <% end %>
  </div>
</div>
<div class="col">
  <!-- Other content in the right column -->
</div>

<style>

.col-7 {
  overflow: hidden;
  word-wrap: break-word;
}

.form-group {
  margin-bottom: 20px;
}

/* Style the submit button */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
</style>