
          <div class="col-7">
          <div class="blog-list">
          <div class="blog-content">
            <div class="card mb-3">
              <div class="card-body">
                <p class="card-text">
                  <%= @blog.body %></p>
    
                
              </div>
              </div>
              </div>
              </div>
</div>
<div class="col">
  <!-- Other content in the right column -->
</div>

<style>
.blog-content a {
    color: #007bff; /* Link color */
    text-decoration: none; /* Underline the links */
  }

  .blog-content a:hover {
    color: #0056b3; /* Link color on hover */
  }

.col-7 {
  overflow: hidden;
  word-wrap: break-word;
}

.form-group {
  margin-bottom: 20px;
}

/* Style the submit button */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
</style>