<%= turbo_stream.replace dom_id(@tournament) do %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Congrats!</strong> You just registered for <%=@tournament.name%> tournament.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
	<%= render partial: "tournaments/tournament", locals: {tournament_presenter: TournamentPresenter.new(tournament: @tournament, current_user: current_user)} %>
<%end%>


