<div class="col-7">
    <%= @tournament.description %>

<table class="bracket">
  <caption>Test Table</caption>
  <thead>
    <tr>
      <th scope="col">Round 1</th>
      <th scope="col">Round 2</th>
      <th scope="col">Round 3</th>
      <th scope="col">Round 4</th>
      <th scope="col">Winner</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>Player 1</span>
        <span>Player 2</span>
        <span>Date: 01.01. 1pm</span>
      </td>
      <td rowspan="2">
        <span>Player 1</span>
        <span>Player 3</span>
        <span>Date: 05.01. 1pm</span>
      </td>
      <td rowspan="4">
        <span>Player 1</span>
        <span>Player 5</span>
        <span>Date: 07.01. 1pm</span>
      </td>
      <td rowspan="8">
        <span>Player 1</span>
        <span>Player 9</span>
        <span>Date: 10.01. 1pm</span>
      </td>
      <td rowspan="8">
        <span>Player 1</span>
      </td>
    </tr>
    <tr>
      <td>
        <span>Player 3</span>
        <span>Player 4</span>
        <span>Date: 01.01. 1.30pm</span>
      </td>
    </tr>
     <tr>
       <td>
        <span>Player 5</span>
        <span>Player 6</span>
        <span>Date: 01.01. 2pm</span>
      </td>
       <td rowspan="2">
        <span>Player 5</span>
        <span>Player 7</span>
        <span>Date: 05.01. 1.30pm</span>
      </td>
    </tr>
    <tr> 
      <td>
        <span>Player 7</span>
        <span>Player 8</span>
        <span>Date: 01.01. 2.30pm</span>
      </td>
    </tr>
    <tr>
      <td>
        <span>Player 9</span>
        <span>Player 10</span>
        <span>Date: 01.01. 3pm</span>
      </td>
      <td rowspan="2">
        <span>Player 9</span>
        <span>Player 11</span>
        <span>Date: 05.01. 2pm</span>
      </td>
      <td rowspan="4">
        <span>Player 9</span>
        <span>Player 13</span>
        <span>Date: 07.01. 1.30pm</span>
      </td>
    </tr>
    <tr>
      <td>
        <span>Player 11</span>
        <span>Player 12</span>
        <span>Date: 01.01. 3.30pm</span>
      </td>
    </tr>
    <tr>
      <td>
        <span>Player 13</span>
        <span>Player 14</span>
        <span>Date: 01.01. 4pm</span>
      </td>
      <td rowspan="2">
        <span>Player 13</span>
        <span>Player 15</span>
        <span>Date: 05.01. 2.30pm</span>
      </td>
    </tr>
    <tr>
      <td>
        <span>Player 15</span>
        <span>Player 16</span>
        <span>Date: 01.01. 4.30pm</span>
      </td>
    </tr>
  </tbody>
</table>


	
</div>
<div class="col">
	asdsadsad
</div>
