<!-- _flash_message.html.erb -->
<div class="alert alert-success alert-dismissible fade show" role="alert" style="position:absolute;top:0;right:0;width:400px;">
  <strong style="font-size: 12px;"> <%= message.html_safe %> </strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
